@import "tailwindcss";

.button-ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 600ms linear;
  opacity: 0.6;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
