* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h2 {
  color: #0000D5;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1%;
  line-height: 1.3;
}

p {
  color: #757575;
  font-size: 25px;
  letter-spacing: 2%;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
  color: #757575;
}

a:hover {
  color: #0000D5;
}

input {
  padding-block: 16px;
  padding-inline: 24px;
  border-radius: 8px;
  border: none;
  background-color: #E8E8E8;
  color: #757575;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
}

input::placeholder {
  color: #757575;
}

input:focus {
  border: solid #0000D5;
  color: #0000D5;
  outline: none;
}

input:focus::placeholder {
  color: #0000D5;
}

.primary-button {
  color: white;
  background-color: #0000D5;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cu
}

.form-login {
  width: 50dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login h2, p, input, a, button {
  width: 30dvw;
}

.title-sub {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-login {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
}

.main-login a {
  text-align: right;
}

.form-login .primary-button {
  margin-block: 32px;
}

.form-login .link-register {
  text-align: center;
}

.banner-initial img {
  width: 50dvw;
  height: 100dvh;
}
